<div class="row" >
       
    <div class="col-lg-4 text-center">
            <img width="500px" height="400px" src="http://localhost:3010/{{products.productImagePath}}" alt="">
        </div>

    <div class="col-lg-8  bg-gray" style="font-size: xx-large; font-family: 'Times New Roman', Times, serif; font-weight: bold;">
       <h1 style="color:rgb(68, 124, 245);">Name : 
            <span style="color:rgb(14, 14, 15);"> {{products.product_name}} </span>
       </h1>
       <hr>
       <h3 style="color:rgb(68, 124, 245);">Category :
            <span style="color:rgb(14, 14, 15);">{{products.category.name}}</span>  
       </h3>
       <hr>
       <h4 style="color:rgb(68, 124, 245);">Price : 
            <span style="color:rgb(14, 14, 15);"> {{products.product_price}} Rs. </span> 
       </h4>
       <hr>
       <h4 style="color:rgb(68, 124, 245);">Description :  
            <span style="color:rgb(14, 14, 15);">{{products.product_description}}</span>   
       </h4>
       <h4 style="color:rgb(68, 124, 245);">
           Select Qty:
       </h4>
       <span >
           <select name="" id="" #ingre_qty>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
           </select>
       </span>
       <hr>
       <button (click)="addTocart()" type="button" class="btn btn-success">
           Add to Cart
       </button>
    </div>
</div>