.Farmsmart 
{
  color: rgb(8, 8, 243);
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;;
  font-weight: bold;
}

.Heading 
{
  text-align: center;
  color: rgb(7, 7, 27);
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;;
  font-weight: bold;
}

